<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="2"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="/images/logo/icon.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>


    <%- include('../includes/adminNavbar.ejs') %>
        <main class="main" id="adminMain">
            <div class="flex">
                <div class="">
                    <div class="page-title">
                        <h1 style="text-transform: capitalize">
                            Total Sales
                        </h1>
                    </div>
                    <div class="direction">
                        <ul class="flex">
                            <li>Home</li>
                            <li style="text-transform: capitalize">
                                Total Sales
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="condtents">

                <div class="content-section card" id="users">

                    <div class="userBox">



                        <table id="table_id" class="table3"style="text-transform: capitalize;">
                            <div class="download">
                                <P class="server-response red" style="float: left; font-size: 12px;"><%= err %></P>
                                <div>
                                    <a href="/admin/sales/download-xls">
                                        <i class='bx bx-spreadsheet download-icon' id="dwl-excel"></i>
                                    </a>
                                    <a href="/admin/sales/download-pdf">
                                    <i class='bx bxs-file-pdf download-icon' id="dwl-pdf"></i>
                                </a>
                                </div>
                            </div>
                            <thead>
                                <tr style="font-weight: 800; background-color: var(--blue); color: var(--white);">
                                    <th>Date</th>
                                    <th class="table-hide">Name</th>
                                    <th>product</th>
                                    <th>Amount</th>
                                    <th class="table-hide">Method</th>
                                    <th class="table-hide">Coupon</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% delivered.forEach(delivery=>{%>
                                    <tr>
                                        <td class="border">
                                            <%= delivery.deliveryDate.toLocaleString().split(',')[0] %>
                                        </td>
                                        <td class="border table-hide">
                                            <%= delivery.billingAddress.name %>
                                        </td>

                                        <td class="border">
                                            <ul>
                                                <% delivery.products.forEach(product=>{%>
                                                    <li>
                                                        <%= product.shortName %>
                                                    </li>
                                                    <%})%>
                                            </ul>
                                        </td>
                                        <td class="border">
                                            <%= delivery.actuallAmount %>
                                        </td>
                                        <td class="table-hide border">
                                            <%= delivery.paymentMethod %>
                                        </td>
                                        <td class="table-hide border">
                                            <%= delivery.coupon %>
                                        </td>
                                    </tr>
                                    <%})%>

                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

        </main>

        <script src="https://kit.fontawesome.com/6819033383.js" crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>


</body>


</html>