<%- include('../includes/homehead') %>
<% if(items== ''){ %>
   
    <section class="flex empty-cart">
        <img src="/images/backgrounds/preview.gif" alt="empty wishlist">
        <hr>
        <h2>------- Empty wishlist -------</h2>
    </section>
<%}else{ %>
<section class="wishlist-sec">
    
    <div class="left">
        
        <h2>WISH LIST <span class="green-text cart-count"><span class="count"></span></span></h2>
        <% items.forEach(item=>{%> 
        <figure class="cart-item flex wishlist-item" id="<%= item._id %>">
            <div class="left flex">
                <div class="cart__img ">
                    <img src="/uploads/product/<%= item.category._id %>/<%= item.productPictures[0].img %>" alt="" width="100%">
                </div>
            </div>
            
            <div class="right flex">
                <div class="cart__title-box">
                    <p class="cart__title"><%= item.name %></p>
                </div>
                <p class="unit-price"><%= item.price %> <span>per kg</span></p>
                
                
                <p class="sub-total">₹<span><%= item.price - item.price * item.offer /100 %></span></p>
                <% if( item.stock >0){%>
                    <div class="cart-btns">
                        <a href="/cart/add/<%= item._id %>" class="btn confirm">
                            <p>ADD TO CART</p>
                        </a>
                    </div>
                    <%}else{%>
                      <div class="cart-btns">
                        <a class="stock-out-btn flex">
                            <p>OUT OF STOCK</p>
                        </a>
                    </div>
                <%}%>
                <a data-id="<%= item._id %>" class="remove-items" style="color: black; font-size: 18px; font-weight: 800">
                    <i class='bx bx-minus-circle' ></i>
                </a>
            </div>

        </figure>
        <%})%>
        
    </div>
    <div class="right">
    </div>
</section>

<script>
    let removeBtn = document.querySelectorAll('.remove-items');

    for(let i =0; i< removeBtn.length; i++){
        removeBtn[i].addEventListener('click', function(e){
            
            fetch(`/api/wishlist/${this.dataset.id}`,{
                        method: 'put',
                    })
                    .then(res=> res.json())
                    .then(data=> {
                        let parent = document.getElementById(`${this.dataset.id}`)
                        parent.parentNode.removeChild(parent);
                        if(data.user.length == 0){
                            window.location.reload();
                        }
                    })
                    .catch(err=> console.log(err))

        })
    }
</script>
<% } %>
<%- include('../includes/homebottom') %>