<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <%- include('../includes/supportiveNavbar.ejs') %>
        <%let alluser=usersList.length%>
            <% let blocked=0 %>
                <%usersList.forEach(user=>{%>
                    <%if(user.active===false){%>
                        <% blocked++ %>
                            <%}%>
                                <%}) %>

                                    <main class="main" id="adminMain">
                                        
                                        <div class="contents">

                                        </div>
                                        <section class="home">
                                            <div class="left">
                                                <div class="report-cards grid">
                                                    
                                                    <div class="card card2" style="text-align: center; max-width: 350px;">
                                                        <div class=" card-content">
                                                            <p class="admin-titles">Total Users</p>
                                                            <div class="card-logo" style=" margin: 0 auto;">
                                                                <img src="/images/icons/man.png" alt="" width="60px">
                                                            </div>
                                                        </div>
                                                        <p style="color: green; font-size: 64px;font-weight: 800;" id="productcountId">
                                                            <%= alluser %>
                                                        </p>
                                                    </div>
                                                    <div class="card card2" style="text-align: center; max-width: 350px; margin-left: auto;">
                                                        <div class=" card-content">
                                                            <p class="admin-titles">Blocked Users</p>
                                                            <div class="card-logo" style=" margin: 0 auto;">
                                                                <img src="/images/icons/blocked.png" alt=""
                                                                    width="60px">
                                                            </div>
                                                        </div>
                                                        <p style="color: red; font-size: 64px;font-weight: 800;" id="productcountId">
                                                            <%= blocked %>
                                                        </p>
                                                    </div>
                                               
                                                </div>

                                                <div class="chart card">
                                                    <canvas id="myChart" style="width: 100%; height: 10rem"></canvas>
                                                </div>
                                            </div>
                                            <div class="right">

                                            </div>


                                        </section>

                                    </main>

                                    <script src="https://kit.fontawesome.com/6819033383.js"
                                        crossorigin="anonymous"></script>
                                    <script src="/js/main.js"></script>
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                    <script>
                                        const ctx = document.getElementById('myChart');

                                        new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: ['All', 'Blocked'],
                                                datasets: [{
                                                    axis: 'y',
                                                    label: 'Users',
                                                    data: ['<%= alluser %>', '<%= blocked %>',],
                                                    fill: false,
                                                    backgroundColor: [
                                                        'rgba(00, 255, 0, 0.2)',
                                                        'rgba(255, 0, 0, 0.2)',

                                                    ],
                                                    borderColor: [
                                                        'rgb(0, 255, 0)',
                                                        'rgb(255, 0, 0)',

                                                    ],
                                                    borderWidth: 1
                                                }]
                                            },
                                            options: {
                                                indexAxis: 'y',
                                            }
                                        });



                                        /*-----------------------------*/

                                    </script>

</body>


</html>