<%- include('../includes/adminHead') %>

    <%- include('../includes/managerNavbar.ejs') %>

        <main class="main" id="adminMain">
            <div class="page-title">
                <h1 style="text-transform: capitalize">

                </h1>
            </div>
            <div class="direction">
                <ul class="flex">
                    <li>Home</li>
                    <li style="text-transform: capitalize">
                        edit product
                    </li>
                </ul>
            </div>
            <div>
            </div>
            <div class="contents">
                <oneroofid data-id="<%=product.id %>" id="validation-id" ></oneroofid>
                <div class=" flex message-wrap" id="message-wrap">
                    <p id="messagevalue" class="alert-meassage danger"></p>
                </div>
                <form action="/manager/product/<%= product._id %>" method="post" enctype="multipart/form-data">
                    <%- include ('../includes/confirm') %>
                        <div class="productEdit-page grid">
                            <div class="left card">
                                <div class="productField-wrap">
                                    <label class="field-title" for="name">Product Name</label>
                                    <input class="productPage-field form-feild" type="text" name="name" id="name" value="<%= product.name %>">
                                    <p class="description">Do not exceed 20 character when enteing the product name</p>
                                </div>
                                <div class="productField-wrap">
                                    <label for="shortName" class="field-title">Short Name</label>
                                    <input type="text" name="shortName" id="shortName" maxlength="10"
                                        class="productPage-field form-feild" value="<%= product.shortName %>">
                                    <p class="description">Do not exceed 10 character when enteing the short name</p>
                                </div>
                                <div class="productField-wrap">
                                    <label class="field-title" for="name">Category</label>
                                    <select class="productPage-field" name="category" id="category">
                                        <option selected value="<%= product.category %>"></option>
                                        <% categoryList.forEach(x=>{ %>
                                            <option value="<%= x._id %>">
                                                <%= x.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="right card">
                                <div>


                                    <input type="file" name="productPictures" id="productPictures"
                                        class="upload-file " accept="image/*">
                                    <label for="productPictures" class="upload-label field-title">Upload Image</label>

                                    <p class="description">Pay attention to the quality of the pictures that you
                                        add comply with the background color standers. Picture must be in certain
                                        dimensions. Notice that the product shows all the details
                                    </p>
                                </div>
                                <div class="price flex">
                                    <div class="productField-wrap">
                                        <label class="field-title" for="stock">Stocks</label>
                                        <input class="productPage-field form-feild" type="number" name="stock"
                                            id="stock" value="<%= product.stock %>">
                                    </div>
                                    <div class="productField-wrap ">
                                        <label class="field-title" for="price">Actual Price</label>
                                        <input class="productPage-field form-feild" type="number" name="price"
                                            id="price" value="<%= product.price %>">
                                    </div>
                                    <div class="productField-wrap">
                                        <label class="field-title" for="offer">Offer</label>
                                        <input class="productPage-field form-feild" type="number" name="offer"
                                            id="offer" value="<%= product.offer %>">
                                    </div>
                                    <div class="productField-wrap">
                                        <label class="field-title" for="singleQty">Single Qty</label>
                                        <input class="productPage-field form-feild" type="text" name="singleQty"
                                            id="singleQty" value="<%= product.singleQty %>">
                                    </div>

                                </div>
                                <div class="productField-wrap">
                                    <p class="field-title" for="name">Payment Methods</p>
                                    <input type="checkbox" name="paymentMethod" value="cashOnDelivery"
                                        id="cashOnDelivery">
                                    <label for="cashOnDelivery">Cash on delivery</label>
                                    <input type="checkbox" class=" form-feild" name="paymentMethod"
                                        value="onlinePayment" id="onlinePayment" checked>
                                    <label for="onlinePayment" >Online Payment</label>
                                </div>
                                <div class="preview-grid">
                                    <div style="padding: 10px 0;">
                                        <input type="color" name="theme" id="primary-clr" class="form-feild" value="<%= product.theme[0]%>">
                                        <input type="color" name="theme" id="secondary-clr" class="form-feild" value="<%= product.theme[1]%>">
                                    </div>
                                    <div class="preview-side" id="preview-side">
                                        <div class="preview-wrap" id="previewBg">
                                            <img src="/images/profile/avatar.jpg" alt="" id="preview-image">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quasi!</p>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="productField-wrap">
                                <label for="productInfo" class="field-title">Product info</label>
                                <input type="text" name="productInfo" id="productInfo"
                                    class="productPage-field form-feild" value="<%= product.productInfo %>">
                            </div>
                            <div class="productField-wrap">
                                <label for="productFact" class="field-title">Product fact</label>
                                <input type="text" name="productFact" id="productFact"
                                    class="productPage-field form-feild" value="<%= product.productFact %>">
                            </div>
                            <div class="btns-wrap">
                                <a href="/admin" class="btn cancel">Cancel</a>
                                <a class="btn delete" id="deleteBtn">delete
                                    Product</a>
                                <input type="button" value="update Product" class="btn confirm" id="validate-btn">
                            </div>
                        </div>
                </form>
            </div>

        </main>
        <script>
            let previewSide = document.querySelector(".preview-side");
            let previrewsideBefore = previewSide.previousElementSibling;
            let previewBg = document.getElementById('previewBg')
            let primaryClr = document.getElementById('primary-clr');
            let secondaryClr = document.getElementById('secondary-clr');
            
            primaryClr.onchange = ()=>{
                    previewSide.style.setProperty('--after', `${primaryClr.value}`)
            }
            secondaryClr.onchange = ()=>{
                previewSide.style.backgroundColor = secondaryClr.value
            }

            let deleteBtn = document.getElementById('deleteBtn');
            let validationId = document.getElementById('validation-id');

            deleteBtn.onclick = () => {
                submitBtn.style.display = 'none';
                confirmBox.style.display = 'flex';
                deleteConfBtn.style.display = 'block';
                deleteConfBtn.href = `/manager/product/delete/${validationId.dataset.id}`
                
            }   

        </script>

        <%- include('../includes/adminBottom') %>